# Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/
*.log
*.sqlite3

# Virtual environment
env/
venv/
.venv/
env.bak/
*.env

# Build artifacts
build/
dist/
*.egg-info/
*.spec

# Operating system files
.DS_Store
Thumbs.db

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# Kivy/Buildozer files
*.apk
*.keystore
.buildozer/
*.log

# Docker files
*.pid
docker-compose.override.yml

# Matplotlib caches
.matplotlib_cache/

# Plotly caches
.plotly/
